/*Standards*/

.minstylebar{
    background-color: #f50;
    height: 5px;
}

.minstylebar_marg{
    background-color: #f50;
    height: 5px;
    margin-left: -15px;
}

.defaultbackcolor{
    background-color: #e9ebee;
}

/*Landing Page*/
.welcomebanner{
    background-image: url("../img/welcome_banner.jpg");
    height: 450px;
}

.main_container{
    background-color: white;
    height: auto;
    padding-bottom: 25px;
    border: 1px solid #f50;
    border-top: 0 solid #f50;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.intro_txt{
    font-size: 24px;
    margin: 20px;
    margin-top: 0;
    text-align: center;
    color: #6c6c6c;
}

.intro_title{
    font-size: 32px;
    margin: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #323232;
}

.loginbtn{
    background-color: #f50;
    border: 0 none #fff;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}


/*Footer*/

.main_footer{
    border-top: 1px solid #d3d3d3;
    margin-top : 25px;
    padding-top: 15px;
    color: #a1a1a1;
    text-align: center;
    font-size: 12px;
}

.footer_links{
    text-align: left;
    padding-left: 10%;
    color: #f50;
    font-size: 12px;
}


/*Eventpage*/
.userbar{
    background-color: #f6f7f9;
    height: 50px;
    padding-right: 15px;
}

.event_container{
    background-color: white;
    min-height: calc(100vh - 280px);
}

.shoutoutbox{
    min-height: calc(100vh - 280px);
    border-right: 1px solid #f2f2f2;
    padding: 10px;

}

.event_banner{
    height: 200px;
    background-image: url("../img/welcome_banner.jpg");
    background-size: cover;
    background-color: #333;


}

.event_banner_overlay {
    margin-top: -200px;
    opacity: 0.4;
    background-color: #000;
    height: 200px;
}

.event_banner_overlay_txt{
    margin-top: -200px;
    height: 200px;
    background-image: linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -moz-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -ms-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -o-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -webkit-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
}

.online_user_box{
    min-height: calc(100vh - 280px);
    border-left: 1px solid #f2f2f2;
    padding: 10px;
}

.online_user{
    min-height: 35px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.online_user_header{
    color: #333;
    font-size: 14px;
    padding-bottom: 8px;
    padding-left: 10px;
}

.online_user_name{
    margin-top: -26px;
    margin-left: 43px;
    font-size: 13px;
}

.online_user_propic{
    height: 32px;
    width: 32px;
    background-color: red;
}

/*request_song*/
.song_detail{
    width: 100%;
    height: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.song_thumbnail{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 180px;
    height: 100px;
    background-color: blue;
    background-image: url(https://i.ytimg.com/vi/4fndeDfaWCg/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=68&sigh=d3cfQK9_fhznirnerPhag4IE6xI);
}

.song_title{
    width: 380px;
    height: 80px;
    padding: 15px;
    float: right;
    margin-top: -80px;
    font-weight: bold;
}

/*toppane*/
.user_img_top{
    height:50px;
    width: 50px;
    background-color: #fff;
    margin: -15px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.username{
    margin-top: -10px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    width: 300px;
    color : #323232;
}

.userteam{
    font-size: 12px;
    margin-left: 10px;
    width: 300px;
    color : #838383;
    text-transform: uppercase;
}

.brandlogo{
    margin: 10px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: 100%;
}


/*online users*/
.online_frame{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: red;
    height: 100vh;
}

.eventname{
    padding-top: 120px;
    padding-left: 15px;
    font-size: 32px;
    color: #fff;
}

.txt_organizer{
    margin-top: -8px;
    padding-left: 15px;
    font-size: 12px;
    color: #999;

}

.shoutout{
    min-height: 75px;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 5px;
}

.so_header{

}

.so_propic{
    height: 32px;
    width: 32px;
    background-color: red;
}

.so_name{
    margin-top: -32px;
    margin-left: 38px;
    font-weight: bold;
    color:#365899;
}

.so_timestamp{
    margin-top: -2px;
    margin-left: 38px;
    font-size: 10px;
    color:#90949c;
}

.so_content{
    color: #1d2129;
    font-size: 14px;
}

.shoutout_txt_input{
    resize: none;
    width: 260px;
    height: 120px;
    padding: 5px;
    border: 0px;
}

.playlist_item{
    height: 120px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.playlist_item_position_title{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    color : #999;
    font-size: 12px;
    font-weight: bold;

}

.playlist_item_position_number{
    text-align: center;
    text-transform: uppercase;
    color : #333;
    font-size: 64px;
    margin-top: -10px;

}


.video_thumbnail{
    margin-top: 8px;
    width: 100%;
    height: 100px;
    background-color: red;
    background-image: url("https://i.ytimg.com/vi/6Qy42ya_PDg/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=68&sigh=noyMJFRl-z7lnMBCNp-6JXw9kas");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.video_title{
    padding-top: 5px;
    font-weight: bold;
    color: #167ac6;
}

.video_requestor{
    font-size: 10px;
    color:#999;
}

.btn_voting{
    bottom: -15px;
    position:relative;
}

.column_title{
    color: #f50;
    font-size: 18px;
    margin-left: 0px;
    text-transform:uppercase;
    padding: 5px;
}

.page_title{
    color: #f50;
    font-size: 24px;
    margin-left: 0px;
    text-transform:uppercase;
    padding: 5px;
}

.action_buttons{
    margin-top: -30px;
    text-align: right;
    padding: 0 25px 15px 25px;
}

.now_playing_bar{
    height: 80px;
    width: 100%;
    background-color: #f50;
    position: fixed;
    bottom: -50px;
    opacity: 0.9;
    transition: all 0.2s linear;
    transition-delay: 1s;
}

.now_playing_bar:hover{
    opacity: 1;
    bottom: 0px;

    transition-delay: 0s;
}

.nowplaying_status{
    font-size: 16px;
    padding: 5px;
    color: #fff;
    background-color: #3079ed;
}

.nowplaying_buttons{

}

.nowplaying_action_row{
    padding: 6px;
    background-color: #fff;
}

.progressbar_main{
    background-color: #42b72a;
    width: 100%;
    height: 3px;
}

.progressbar_value{
    background-color: red;
    width: 20%;
    height: 3px;

}

.skip_vote_txt{
    padding-top: 2px;
    font-size: 12px;
    color: #333;
}

.now_playing_bar_position{
    background-color: #333;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    color: #fff;
}

.home_logo_area{
    height: 100px;
    width:480px;
    background-image: url("../img/eventfm.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0 0 320px;
    background-color: #fff;
}