/*Standards*/

.minstylebar{
    background-color: #f50;
    height: 5px;
}

.minstylebar_marg{
    background-color: #f50;
    height: 5px;
    margin-left: -15px;
}

.defaultbackcolor{
    background-color: #e9ebee;
}

/*Landing Page*/
.welcomebanner{
    background-image: url("../img/welcome_banner.jpg");
    height: 450px;
}

.main_container{
    background-color: white;
    height: auto;
    padding-bottom: 25px;
    border: 1px solid #f50;
    border-top: 0 solid #f50;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.intro_txt{
    font-size: 24px;
    margin: 20px;
    margin-top: 0;
    text-align: center;
    color: #6c6c6c;
}

.intro_title{
    font-size: 32px;
    margin: 20px;
    margin-bottom: 0;
    text-align: center;
    color: #323232;
}

.loginbtn{
    background-color: #f50;
    border: 0 none #fff;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}


/*Footer*/

.main_footer{
    border-top: 1px solid #d3d3d3;
    margin-top : 25px;
    padding-top: 15px;
    color: #a1a1a1;
    text-align: center;
    font-size: 12px;
}

.footer_links{
    text-align: left;
    padding-left: 10%;
    color: #f50;
    font-size: 12px;
}


/*Eventpage*/
.userbar{
    background-color: #f6f7f9;
    height: 50px;
    padding-right: 15px;
}

.event_container{
    background-color: white;
    min-height: calc(100vh - 280px);
}

.shoutoutbox{
    min-height: calc(100vh - 280px);
    border-right: 1px solid #f2f2f2;
    padding: 10px;

}

.event_banner{
    height: 200px;
    background-image: url("../img/welcome_banner.jpg");
    background-size: cover;
    background-color: #333;


}

.event_banner_overlay {
    margin-top: -200px;
    opacity: 0.4;
    background-color: #000;
    height: 200px;
}

.event_banner_overlay_txt{
    margin-top: -200px;
    height: 200px;
    background-image: linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -moz-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -ms-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -o-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
    background-image: -webkit-linear-gradient( top,
    rgba( 0, 0, 0, 0 ) 0%,
    rgba( 0, 0, 0, 1 ) 100% );
}

.online_user_box{
    min-height: calc(100vh - 280px);
    border-left: 1px solid #f2f2f2;
    padding: 10px;
}

.online_user{
    min-height: 35px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.online_user_header{
    color: #333;
    font-size: 14px;
    padding-bottom: 8px;
    padding-left: 10px;
}

.online_user_name{
    margin-top: -26px;
    margin-left: 43px;
    font-size: 13px;
}

.online_user_propic{
    height: 32px;
    width: 32px;
    background-color: red;
}

/*toppane*/
.user_img_top{
    height:50px;
    width: 50px;
    background-color: #fff;
    margin: -15px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.username{
    margin-top: -10px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    width: 300px;
    color : #323232;
}

.userteam{
    font-size: 12px;
    margin-left: 10px;
    width: 300px;
    color : #838383;
    text-transform: uppercase;
}

.brandlogo{
    margin: 10px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: 100%;
}


/*online users*/
.online_frame{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: red;
    height: 100vh;
}

.eventname{
    padding-top: 120px;
    padding-left: 15px;
    font-size: 32px;
    color: #fff;
}

.txt_organizer{
    margin-top: -8px;
    padding-left: 15px;
    font-size: 12px;
    color: #999;

}

.shoutout{
    min-height: 75px;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 5px;
}

.so_header{

}

.so_propic{
    height: 32px;
    width: 32px;
    background-color: red;
}

.so_name{
    margin-top: -32px;
    margin-left: 38px;
    font-weight: bold;
    color:#365899;
}

.so_timestamp{
    margin-top: -2px;
    margin-left: 38px;
    font-size: 10px;
    color:#90949c;
}

.so_content{
    color: #1d2129;
    font-size: 14px;
}

.shoutout_txt_input{
    resize: none;
    width: 260px;
    height: 120px;
    padding: 5px;
    border: 0px;
}

.playlist_item{
    height: 120px;
    width: 100%;
    border: 1px solid #ccc;
}

.playlist_item_position_title{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    color : #999;
    font-size: 12px;
    font-weight: bold;

}

.playlist_item_position_number{
    text-align: center;
    text-transform: uppercase;
    color : #333;
    font-size: 64px;
    margin-top: -10px;

}


.video_thumbnail{
    
}